<main class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="card sombra-multicolor">
                <img class="card-img-bottom" src="/assets/static/img/banner-super.png" alt="Banner de la tarjeta" />
                <h3 class="card-title p-2 text-center">Lista de héroes</h3>
                <div class="card-body text-center">
                    <div *ngIf="hayHeroes()">
                        <ng-container *ngFor="let heroe of listadoHeroes;">
                            <div >
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr class="table-dark">
                                            <th>Nombre</th>
                                            <th>Poder</th>
                                            <th>Honor</th>
                                            <th>Ataque</th>
                                            <th>Defensa</th>
                                            <th>Vida</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let heroe of listadoHeroes" [class]="
                                            {
                                                'table-info': heroe.honor > 70,
                                                'table-danger' : heroe.honor < -70
                                            }">
                                            <td>{{heroe.nombre}}</td>
                                            <td [class.table-warning]="heroe.poder > 200">
                                                {{heroe.poder}}
                                            </td>
                                            <td>{{heroe.honor}}</td>
                                            <td>{{heroe.ataque}}</td>
                                            <td>{{heroe.defensa}}</td>
                                            <td>{{heroe.vida}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>    
                    </div>
                    <div *ngIf="!hayHeroes()" class="alert alert-danger">
                        <span>No hay héroes todavía en la lista</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</main>
